/* header */
.profile-header {
  display: flex;
  width: 70%;
  max-width: 300px;
  height: 40%;
  margin: 155px 40px;
  flex-direction: column;
  align-items: center;
  background-color: #F2A94C;
  background-image: url(../images/bright-squares.png);
  font-size: 1.5em;
}

.profile-img-container {
  margin: 20px auto 0px auto;
  width: 80%;
  text-align: center;
  height: 80%;
}

/* move avatar position */
img {
  margin: auto;
  width: 70%;
}
.avatar {
  padding: 10px 0 20px 0;
}

/* Tablet breakpoint is maximum width of 768px */
@media only screen and (max-width: 768px) {
  .profile-header {
    margin: 0px;
    width: 100%;
    max-width: initial;
    height: initial;
  }
  .profile-img-container {
    margin: initial;
    width: initial;
    text-align: center;
    height: initial;
  }
  img {
    margin-top: 90px;
  }
}