.new-tweet form {
  width: 100%;
  margin: auto;
}

.new-tweet form label {
  width: 100%;
  display: block;
  margin: 10px auto;
  padding: 0 0 10px 0;
  border-bottom: 3px solid #a5a5a5;
}

.new-tweet-error {
  display: none;
  font-size: 18px;
  color: red;
  border: 3px solid red;
  padding: 5px;
}

#tweet-text {
  width: 100%;
  min-height: 50px;
  border-color: #a5a5a5;
  background-color: #f4f1ec;
  margin-bottom: 10px;
  font-size: 1rem;
}

.new-tweet-action button {
  font-family: "Bungee", cursive;
  font-size: 20px;
  color: white;
  background-color: #4056a1;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.new-tweet-action .counter {
  float: right;
  font-family: "Bungee", cursive;
  line-height: 30px;
}

.counter-negative {
  color: red;
}